*{
    box-sizing: border-box;
    --color-dark-green: #717776;
    --color-white: #ededed;
    --color-green: rgba(174, 186, 177, 0.6);
    --font-color: #3a3937;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-green);
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.design-container{
    border: red 2px solid; /* adds a red border with 2px width and solid style */
    height: 40vh; /* sets the height to 50% of the viewport height */
    width: 100vw; /* sets the width to 50% of the viewport width */
    display: flex; /* enables flexbox display for the container */
    justify-content: center; /* centers the child element horizontally */
    align-items: center; /* centers the child element vertically */
}

@media(min-width: 768px){

    .design-container{
        border: red 2px solid; /* adds a red border with 2px width and solid style */
        height: 40vh; /* sets the height to 50% of the viewport height */
        width: 100vw; /* sets the width to 50% of the viewport width */
        display: flex; /* enables flexbox display for the container */
        justify-content: center; /* centers the child element horizontally */
        align-items: center; /* centers the child element vertically */
    }

}