

.star-img{
    height: 5vh;
    width: 5vh;
}

.projects-text{
    width: 100vw; /* sets the width to 50% of the viewport width */
    display: flex; /* enables flexbox display for the container */
    justify-content: center; /* centers the child element horizontally */
    align-items: center; /* centers the child element vertically */
}
