<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/project-card.css">
</head>
<body>
<div class="project-container">
  <div class="project-card">
    <div class="project-info-txt">
      <!-- Content of project-info-txt -->
      <h3 class="project-title">Movies List Project</h3>
      <h4>What does it do?</h4>
      <p>
        The Movies Project is a website that allows a user to add, edit, and delete movie list items. The list of movies
        is shown to the users as cards. The user is allowed to add a movie by typing in a title, genre, director, and a
        rating. The user can also edit an existing movie. If the user wants, they can also delete movies from the list.
      </p>
      <h4>Technologies used</h4>
      <p>
      <ul class="text-decor-off">
        <li>Javascript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>JQuery</li>
      </ul>
      </p>
    </div>
    <div class="image-buttons-projects">
      <div class="projects-image">
        <img src="/imgs/decorations/computer.png" alt="computer outline" class="computer-img">
      </div>
      <div>
        <button class="button-github"><a>Code</a></button>
        <button class="button-github"><a>Code</a></button>
      </div>
    </div>
  </div>
</div>

</body>
</html>